* {
    margin: 0;
    padding: 0;
}
.main-container {
    width: 100%;
    height: 100%;
    /* height: 100vh; */
    /* background-color: #7499b7a0; */
    background-color: rgba(000, 118, 237, 0.30);
    /* scroll-snap-type: y mandatory;
    overflow-y: scroll; */
}
html {
    scroll-behavior: smooth;
}
/* .section {
    scroll-snap-align: start;
} */
@font-face {
    font-family: 'penna';
    src: url('fonts/penna.otf') format('opentype');
}
@font-face {
    font-family: 'england';
    src: url('fonts/England-d9jVV.otf') format('opentype');
}
@font-face {
    font-family: 'avenirlight';
    src: url('fonts/Avenir\ Light.ttf') format('opentype');
}

/*-------------------------------------------NAV BAR---------------------------------------------------*/

.nav-bar {
    background-image: linear-gradient(rgba(31, 54, 122, 0.98), rgba(31, 54, 122, 0.72)) ;
    color: lightblue;
    height: auto;
    width: 100%;
    top: 0%;
    box-sizing: border-box;
    position: fixed;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    font-family: 'penna';
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: flexbox;
    justify-content: space-around;
}
@media (min-width: 1300px) {
    .nav-bar {
        display: flex;
        font-weight: normal;
        padding: 19px 26px;
    }
}
.nav-title {
    font-size: 180%;
    transition: 0.5s;
    margin: auto;
}
@media (min-width: 1300px) {
    .nav-title {
        font-size: 300%;
        margin: 0;
    }
}
.nav-title:hover {
    color: white;
    font-size: 320%;
}
.nav-links {
    width: 100%;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-evenly;
    vertical-align: middle;
    font-size: medium;
    margin: auto;
    margin-right: 0;
}
@media (min-width: 1300px) {
    .nav-links {
        font-size: x-large;
        width: 60%;
    }
}
.nav-bar a {
    color: lightblue;
    text-decoration: none;
    transition: 0.5s;
    margin: 0 6px;
}
.nav-links a:hover {
    color: white;
    font-size: 110%;
} 

/*--------------------------------------------------HOME PAGE-------------------------------------------*/

.home-page-content {
    display: flexbox;
    justify-content: space-evenly;
    padding-top: 82px;
    width: 100%;
    margin: auto;
}
@media (min-width: 1300px) {
    .home-page-content {
        display: flex;
    }
}
.left-column {
    width: 46%;
    text-align: center;
    font-family: 'penna';
    height: auto;
    color: darkslategray;
}
.bottom-traits {
    margin-bottom: 50px;
}
.left-column a {
    text-decoration: none;
}
.home-name {
    display: inline;
    font-size: 800%;
    font-weight: bold;
    font-family: 'england';
    color: rgba(8, 3, 34, 0.73);
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, .6);
}
.left-column {
    display: none;
}
@media (min-width: 1300px) {
    .left-column {
        display: inline;
        width: 46%;
        text-align: center;
        font-family: 'penna';
        padding-top: 180px;
        color: darkslategray;
    }
}
.home-name-traits-1 {
    text-align: center;
    font-size: 360%;
    font-weight: bold;
    text-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, .4);
}
.home-name-traits-2 {
    text-align: center;
    font-size: 280%;
    font-weight: bold;
    margin-top: 6px;
    text-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, .4);
}
.down-arrow {
    text-align: center;
    font-size: 280%;
    margin-top: 100px;
    color: rgba(1, 1, 52, 0.4);
    text-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, .4);
    transition: 0.4s;
}
.down-arrow:hover {
    color: rgba(1, 1, 52, 0.6) ;
    font-size: 300%;
}
.right-column {
    width: 80%;
    text-align: center;
    margin: auto;
}
@media (min-width: 1300px) {
    .right-column {
        width: 40%;
    }
}
.home-pic {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
    width: 96.4%;
}
#epic-company-pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: -96px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.8);
}
.mobile-column {
    width: 46%;
    margin: auto;
    text-align: center;
    font-family: 'penna';
    font-weight: bold;
    color: darkslategray;
}
@media (min-width: 1300px) {
    .mobile-column {
        display: none;
    }
}

/*------------------------------------------ABOUT----------------------------------------------------------*/
#about-me-title {
    font-size: 400%;
    font-family: 'penna';

}
.about-page {
    text-align: center;
    font-family: 'avenir-light';
    font-size: large;
    width: 80%;
    padding: 0 40px 40px 40px;
    margin: auto;
    padding-top: 124px;
    margin-bottom: -110px;
    background-color: rgba(250, 250, 210, 0.4);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.32);
    border-radius: 4px;
}

/*------------------------------------------WHAT'S NEXT----------------------------------------------------------*/

#next-title {
    font-size: 320%;
    font-family: 'penna';
    font-weight: bold;
    padding: 16px;
    background-color: rgba(250, 250, 210, .4);
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4);
}
.next-page {
    text-align: center;
    font-family: 'avenir-light';
    font-size: large;
    width: 100%;
    padding-top: 94px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 40px;
    border-radius: 4px;
}
.next-images {
    display: flexbox;
    width: 96%;
    margin: auto;
    margin-top: 26px;
}
@media (min-width: 1300px) {
    .next-images {
        width: 80%;
    }
}
.catsanythinggoes {
    display: flex;
    justify-content: space-between;
}
#cats {
    display: none;
}
#anythinggoes {
    display: none;
}
#ufomt {
    width: 40%;
}
#dcpa {
    width: 48%;
}
#dcpa-banner {
    background-color: white;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
}
#d2b {
    display: none;
}
@media (min-width: 1300px) {
    
    #cats {
        display: inline;
        min-width: 24%;
        margin-right: 20px;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6);
    }
    #anythinggoes {
        display: inline;
        min-width: 24%;
        margin-right: 20px;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6);
    }
    #d2b {
        display: inline;
        max-width: 32%;
        height: 32%;
    }
}
#hg {
    max-width: 20%;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6);
}
.captain-eon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.eon {
    margin-top: 18px;
}
#ufomt-banner {
    background-color: black;
    margin-bottom: 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6);
}
.show-text {
    padding-top: 36px;
    font-size: large;
    text-shadow: 0.5px 0.5px 8px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1300px) {
    .show-text {
        font-size: x-large;
    }
}

/*------------------------------------------HEADSHOT & RESUME----------------------------------------------------------*/

.headshotresume {
    margin-bottom: 20px;
    padding-top: 65px;
    font-family: 'avenirlight';
    text-align: center;
    color: lightgrey;
}
.hr-title {
    font-size: 320%;
    text-align: center;
    font-family: 'penna';
    font-weight: bold;
    background-color: rgba(250, 250, 210, 0.4);
    padding: 16px;
    margin: 32px 0;
    color: black;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4);
}
.hr-columns {
    display: flex;
    justify-content: space-evenly;
}
.hr-column {
    height: 100%;
    max-width: 28%;
}
.headshot {
    height: 100%;
    width: 100%;
    object-fit: contain;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    margin-bottom: 20px;
}
.headshot:hover {
    transform: scale(1.04);
}
.resumes {
    height: 100%;
    width: 100%;
    object-fit: contain;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    margin-bottom: 20px;
}
.resumes:hover {
    transform: scale(1.04);
}
.label {
    background-color: rgba(0, 0, 128, 0.6);
    transition: 0.4s;
    margin-top: 20px;
    padding: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: x-small;
    color: lightgrey;
    display: inline-block;
}
@media (min-width: 1300px) {
    .label {
        font-size: large;
        padding: 20px;
    }
}
.label:hover {
    transform: scale(1.02);
    background-color: rgba(0, 0, 128, 0.8);
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.6);
}
.hr-footer {
    margin-top: 40px;
    font-size: x-large;
    color: rgba(0, 0, 128, 0.2);
}

/*------------------------------------------GALLERY----------------------------------------------------------*/

.gallery-page {
    text-align: center;
    font-family: 'avenir-light';
    font-size: large;
    width: 100%;
    margin-top: 20px;
    padding-top: 62px;
    margin-bottom: 40px;
    border-radius: 4px;
}
#gallery-title {
    font-size: 320%;
    text-align: center;
    font-family: 'penna';
    font-weight: bold;
    background-color: rgba(250, 250, 210, 0.4);
    padding: 16px 0;
    margin: 32px 0;
    color: black;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4);
}
#all-pics a img {
    max-width: 100%;
    max-height: 300px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    transition-duration: 0.5s;
    margin: 8px 0px;
}
.img-chunk {
    text-decoration: none;
    color: lightcyan;
    position: relative;
}
.img-chunk:hover img{
    transform: scale(1.06);
}
.img-chunk .img-desc {
    position: absolute;
    top: -70px;
    bottom: 6px;
    left: 0;
    right: 0;
    transition: 0.5s;
    padding: 6px;
    opacity: 0%;
    padding-top: 10px;
}
.img-chunk:hover .img-desc {
    /* background-image: linear-gradient(rgba(47, 79, 79, 0.6), rgba(47, 79, 79)); */
    opacity: 90%;
    text-shadow: 1px 1px 12px black;
}
/*------------------------------------------MEDIA----------------------------------------------------------*/

#media-title {
    font-size: 320%;
    text-align: center;
    font-family: 'penna';
    font-weight: bold;
    background-color: rgba(250, 250, 210, 0.4);
    padding: 16px 0;
    margin: 20px 0;
    margin-top: 80px;
    color: black;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4);
}
.media-page {
    text-align: center;
    font-family: 'avenir-light';
    font-size: large;
    width: 100%;
    margin: auto;
    border-radius: 4px;
}

/*------------------------------------------MUSIC----------------------------------------------------------*/

#music-title {
    font-size: 320%;
    text-align: center;
    font-family: 'penna';
    font-weight: bold;
    background-color: rgba(250, 250, 210, 0.4);
    padding: 16px 0;
    margin: 32px 0;
    color: black;
    box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4);
}
.music-page {
    text-align: center;
    font-family: 'avenir-light';
    font-size: large;
    width: 100%;
    margin: auto;
}
.songs {
    display: flexbox;
    width: 100%;
    margin: auto;
}
@media (min-width: 1300px) {
    .songs {
        display: flex;
        justify-content: space-evenly;
        padding: 100px 0;
    }
    .music-page {
        margin-bottom: 60px;
        padding: 62px 0 0 0;
    }
    .song-div {
        width: 30%;
    }
}

audio::-webkit-media-controls-panel {
    background-color: lightskyblue;
}
.song-description {
    margin-top: 10px;
}

/*------------------------------------------FOOTER----------------------------------------------------------*/

.footer {
    background-image: linear-gradient(rgba(31, 54, 122, 0.4), rgba(31, 54, 122, 0.8)) ;
    text-align: center;
    font-family: 'avenirlight';
    font-size: larger;
    padding: 60px 0 100px 0 ;
    color: lightgray;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 8px black;
}
#footer-title {
    font-size: 420%;
    font-weight: bold;
    padding: 0;
    color: lightgray;
    font-family: 'penna';
    text-shadow: 1px 1px 8px black;
}
.footer li {
    transition: 0.5s;
}
.footer li:hover {
    font-size: 140%;
}