* {
    margin: 0;
    padding: 0;
}
.main-container {
    width: 100%;
    height: 100%;
    /* height: 100vh; */
    /* background-color: #7499b7a0; */
    /* background-color: rgba(000, 118, 237, 0.10); */
    /* background-color: white; */
    /* scroll-snap-type: y mandatory;
    overflow-y: scroll; */
    background-color: #040450;
}
html {
    scroll-behavior: smooth;
}
/* .section {
    scroll-snap-align: start;
} */
@font-face {
    font-family: 'penna';
    src: url('fonts/penna.otf') format('opentype');
}
@font-face {
    font-family: 'england';
    src: url('fonts/England-d9jVV.otf') format('opentype');
}
@font-face {
    font-family: 'avenirlight';
    src: url('fonts/Avenir\ Light.ttf') format('opentype');
}

/*-------------------------------------------NAV BAR---------------------------------------------------*/

.nav-bar {
    background-image: linear-gradient(rgba(7, 14, 34), #04045099) ;
    color: lightblue;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    display: flexbox;
    align-items: center;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); */
    font-family: 'penna';
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    z-index: 1;
}
@media (min-width: 1200px) {
    .nav-bar {
        display: flex;
        font-weight: normal;
        padding: 14px 26px;
        justify-content: space-around;
    }
}
.my-name {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}
.nav-title {
    /* padding: 10px; */
    font-size: xx-large;
    width: 100%;
    color: lightblue;
    text-decoration: none;
}
@media (min-width: 1200px) {
    .my-name {
        width: 40%;
    }
    .nav-title {
        font-size: 300%;
        transition: 0.5s;
    }
}
.nav-title:hover {
    font-size: 320%;
}
.nav-links {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: medium;
}
@media (min-width: 1200px) {
    .nav-links {
        font-size: x-large;
        align-items: center;
        /* margin-right: 0; */
    }
}
.nav-links a {
    color: lightblue;
    text-decoration: none;
    transition: 0.5s;
    font-size: 120%;
    margin: 0 22px;
}
.nav-links a:hover {
    font-size: 130%;
} 

/*--------------------------------------------------HOME PAGE-------------------------------------------*/

.home-page-content {
    display: flexbox;
    justify-content: space-evenly;
    padding-top: 103px;
    width: 100%;
    margin: auto;
}
@media (min-width: 1200px) {
    .home-page-content {
        display: flex;
    }
}
.bottom-traits {
    margin-bottom: 40px;
}
.left-column a {
    text-decoration: none;
}
.home-name {
    display: inline;
    font-size: 800%;
    font-weight: bold;
    font-family: 'england';
    color: lightblue;
    text-align: center;
    text-shadow: 0px 0px 12px lightblue;
}
.left-column {
    display: none;
}
@media (min-width: 1200px) {
    .left-column {
        display: inline;
        width: 46%;
        text-align: center;
        font-family: 'penna';
        padding-top: 180px;
        margin-right: 60px;
        color: lightblue;
    }
}
.home-name-traits-1 {
    text-align: center;
    font-size: 360%;
    font-weight: bold;
    text-shadow: 1.5px 1.5px 4px rgba(25, 2, 77, 0.4);
}
.home-name-traits-2 {
    text-align: center;
    font-size: 360%;
    font-weight: bold;
    margin-top: 6px;
    text-shadow: 1.5px 1.5px 4px rgba(25, 2, 77, 0.4);
}
.down-arrow {
    text-align: center;
    font-size: 280%;
    margin-top: 100px;
    color: lightblue;
    text-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, .4);
    transition: 0.4s;
}
.down-arrow:hover {
    color: lightblue;
    font-size: 300%;
}
.right-column {
    text-align: center;
    margin: auto;
}
@media (min-width: 1200px) {
    .right-column {
        margin: none;
        width: 40%;
        text-align: end;
    }
}
.home-pic {
    /* box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4); */
    width: 98%;
}
#epic-company-pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: -96px;
    /* box-shadow: 0 0 18px rgba(0, 0, 0, 0.8); */
}
.mobile-column {
    width: 80%;
    margin: 6px auto;
    text-align: center;
    font-family: 'penna';
    font-weight: bolder;
    font-size: x-large;
    color: darkslategray;
}
.mobile-column-2 {
    margin-bottom: 20px;
}
@media (min-width: 1200px) {
    .mobile-column {
        display: none;
    }
    .mobile-column-2 {
        display: none;
    }
}

/*------------------------------------------ABOUT----------------------------------------------------------*/
#about-me-title {
    font-size: 420%;
    font-family: 'penna';
    font-weight: bold;
    color: lightblue;
    text-shadow: 0 0 12px lightblue;
}
.about-page {
    text-align: center;
    font-family: 'avenir-light';
    font-size: large;
    padding-top: 140px;
    margin: auto;
    border-radius: 4px;
}
.about-content {
    color: lightblue;
    padding: 80px;
    padding-top: 10px;
}

/*------------------------------------------WHAT'S NEXT----------------------------------------------------------*/

#next-title {
    font-size: 420%;
    font-family: 'penna';
    font-weight: bold;
    padding: 16px;
    
}
.next-page {
    text-align: center;
    font-family: 'avenir-light';
    font-size: large;
    padding: 80px 80px 80px 80px;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 4px;
    color: lightblue;
    text-shadow: 0px 0px 12px lightblue;
    /* background-color: rgba(255, 255, 255, 0.9); */
    /* box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4); */
}
.next-images {
    display: flexbox;
    width: 96%;
    margin: auto;
    margin-top: 26px;
}
@media (min-width: 1200px) {
    .next-images {
        width: 80%;
    }
}
/*------------------------------------------HEADSHOT & RESUME----------------------------------------------------------*/

.headshotresume {
    margin-bottom: 20px;
    padding-top: 60px;
    font-family: 'avenirlight';
    text-align: center;
    color: lightblue;
    /* text-shadow: 0px 0px 12px lightblue; */
}
.hr-title {
    font-size: 420%;
    text-align: center;
    font-family: 'penna';
    font-weight: bold;
    /* background-color: rgba(255, 255, 255, 0.9); */
    padding: 16px;
    margin: 32px 0;
    color: lightblue;
    text-shadow: 0px 0px 12px lightblue;
    /* box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4); */
}
.hr-columns {
    display: flex;
    justify-content: space-evenly;
    
}
.hr-column {
    height: 100%;
    max-width: 28%;
    
}
.headshot {
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    margin-bottom: 20px;
}
.headshot:hover {
    transform: scale(1.04);
}
.resumes {
    height: 100%;
    width: 100%;
    object-fit: contain;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    margin-bottom: 20px;
}
.resumes:hover {
    transform: scale(1.04);
}
.label {
    background-color: rgba(0, 0, 128, 0.6);
    transition: 0.4s;
    margin-top: 20px;
    padding: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: x-small;
    color: lightgrey;
    display: inline-block;
}
@media (min-width: 1200px) {
    .label {
        font-size: large;
        padding: 20px;
    }
}
.label:hover {
    transform: scale(1.02);
    background-color: rgba(0, 0, 128, 0.8);
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.6);
}
.hr-footer {
    margin-top: 40px;
    font-size: x-large;
    color: lightblue;
}

/*------------------------------------------GALLERY----------------------------------------------------------*/

.gallery-page {
    text-align: center;
    font-family: 'avenir-light';
    font-size: large;
    width: 100%;
    margin-top: 20px;
    padding-top: 62px;
    margin-bottom: 40px;
    border-radius: 4px;
}
#gallery-title {
    font-size: 420%;
    text-align: center;
    font-family: 'penna';
    font-weight: bold;
    /* background-color: rgba(255, 255, 255, 0.9); */
    padding: 16px 0;
    margin: 32px 0;
    color: lightblue;
    text-shadow: 0 0 12px lightblue;
    /* box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4); */
}
#all-pics a img {
    max-width: 100%;
    max-height: 300px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    transition-duration: 0.5s;
    margin: 8px 0px;
}
.img-chunk {
    text-decoration: none;
    color: lightcyan;
    position: relative;
}
.img-chunk:hover img{
    transform: scale(1.06);
}
.img-chunk .img-desc {
    position: absolute;
    top: -70px;
    bottom: 6px;
    left: 0;
    right: 0;
    transition: 0.5s;
    padding: 6px;
    opacity: 0%;
    padding-top: 10px;
}
.img-chunk:hover .img-desc {
    /* background-image: linear-gradient(rgba(47, 79, 79, 0.6), rgba(47, 79, 79)); */
    opacity: 90%;
    text-shadow: 1px 1px 12px black;
}
/*------------------------------------------MEDIA----------------------------------------------------------*/

#media-title {
    font-size: 420%;
    text-align: center;
    font-family: 'penna';
    font-weight: bold;
    /* background-color: rgba(135, 206, 250, 0.5); */
    padding: 16px 0;
    margin: 20px 0;
    
    color: lightblue;
    text-shadow: 0 0 12px lightblue;
    /* box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4); */
}
.media-page {
    text-align: center;
    font-family: 'avenir-light';
    font-size: large;
    width: 100%;
    margin: auto;
    padding-top: 72px;
    border-radius: 4px;
}

/*------------------------------------------MUSIC----------------------------------------------------------*/

#music-title {
    font-size: 420%;
    text-align: center;
    font-family: 'penna';
    font-weight: bold;
    /* background-color: rgba(255, 255, 255, 0.9); */
    padding: 16px 0;
    margin: 32px 0;
    color: lightblue;
    text-shadow: 0 0 12px lightblue;
    /* box-shadow: 2px 0 12px rgba(0, 0, 0, 0.4); */
}
.music-page {
    text-align: center;
    font-family: 'avenir-light';
    font-size: large;
    width: 100%;
    margin: auto;
}
.songs {
    display: flexbox;
    width: 100%;
    margin: auto;
    
}
@media (min-width: 1200px) {
    .songs {
        display: flex;
        justify-content: space-evenly;
        /* padding: 100px 0; */
    }
    .music-page {
        margin-bottom: 60px;
        padding: 62px 0 0 0;
    }
    .song-div {
        width: 30%;
    }
}

audio::-webkit-media-controls-panel {
    background-color: lightskyblue;
}
.song-description {
    margin: 30px;
    color: lightblue;
}

/*------------------------------------------FOOTER----------------------------------------------------------*/

.footer {
    background-image: linear-gradient(#040450, rgba(7, 14, 34)) ;
    text-align: center;
    font-family: 'avenirlight';
    
    padding: 60px 0 140px 0 ;
    color: lightblue;
    /* box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5); */
}
#footer-title {
    font-size: 420%;
    font-weight: bold;
    padding: 0 0 40px 0;
    color: lightblue;
    font-family: 'penna';
    text-shadow: 0 0 12px lightblue;
}
/* .footer:hover {
    text-shadow: 0 0 20px lightblue;
    transition: 2s;
} */
.footer li {
    transition: 0.5s;
    font-size: 140%;
}
.footer a {
    text-decoration: none;
    color: lightblue;
}
.footer li:hover {
    font-size: 150%;
    text-shadow: 0 0 8px lightblue;
}